page-forgot-password {

}

.margin-left-right-7{
  margin-left: 7%;
  margin-right: 7%;
}

.text-align-justify{
  text-align: justify;
}

#forgot-password-input{
  width: 86%;
  border-bottom: 1px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

#reset-password-button{
  margin-top: 7%;
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  height: 5%;
  background-color: map-get($eldercare-color, app-color);
}

#cancel-button{
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  font-size: 13px;
  color: gray;
}
