// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.background-color-primary{
    background-color: map-get($eldercare-color, app-color);
}

.color-primary{
  color: map-get($eldercare-color, app-color);
}

.color-white{
  color: white;
}

.color-green{
  color: green;
}

.divider{
  height: 1px;
  background-color: gray;
}

.font-15px{
  font-size: 15px;
}

.font-13px{
  font-size: 13px;
}

.margin-top-5-side-15{
    margin: 5px 15px 5px 15px;
}

.margin-top-5-no-bottom-side-15{
  margin: 5px 15px 0px 15px;
}

.margin-top-10-side-15{
    margin: 10px 15px 5px 15px;
}

.margin-5px{
  margin: 5px;
}

.margin-top-5px{
  margin-top: 5px;
}

.text-align-justify{
  text-align: justify;
}

.margin-15px{
  margin: 15px;
}

.margin-left-15px{
  margin-left: 15px;
}

.font-bold{
  font-weight: bold;
}
